### Import packages

In [1]:
import pandas as pd
import numpy as np

### Load the dataset

In [4]:
raw_data = pd.read_csv("classification_completing_exams\data\exams.csv", sep= ',')

In [5]:
raw_data.head(15)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68
5,female,group D,high school,standard,none,63,77,76
6,female,group A,bachelor's degree,standard,none,62,59,63
7,male,group E,some college,standard,completed,93,88,84
8,male,group D,high school,standard,none,63,56,65
9,male,group C,some college,free/reduced,none,47,42,45
10,male,group E,some college,standard,completed,99,83,85
11,female,group D,high school,standard,completed,80,87,90
12,male,group D,associate's degree,standard,completed,77,87,85
13,male,group C,high school,standard,completed,74,74,73
14,male,group E,some high school,standard,completed,81,87,85

### Data cleaning

In [7]:
raw_data.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [9]:
raw_data.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [10]:
raw_data.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [13]:
raw_data_cleaned = raw_data.drop_duplicates()

### Data Analyzing
#### Feature Engineering

"     gender race/ethnicity parental level of education         lunch  \\\n0      male        group A                 high school      standard   \n1    female        group D            some high school  free/reduced   \n2      male        group E                some college  free/reduced   \n3      male        group B                 high school      standard   \n4      male        group E          associate's degree      standard   \n..      ...            ...                         ...           ...   \n995    male        group C                 high school      standard   \n996    male        group D          associate's degree  free/reduced   \n997  female        group C            some high school  free/reduced   \n998  female        group C                some college      standard   \n999    male        group A                some college      standard   \n\n    test preparation course  math score  reading score  writing score  \n0                 completed          67             67             63  \n1                      none          40             59             55  \n2                      none          59             60             50  \n3                      none          77             78             68  \n4                 completed          78             73             68  \n..                      ...         ...            ...            ...  \n995                    none          73             70             65  \n996               completed          85             91             92  \n997                    none          32             35             41  \n998                    none          73             74             82  \n999               completed          65             60             62  \n\n[1000 rows x 8 columns]"

#### Feature Selecting

### Machine Learning model Selecting

#### Data Splitting

#### Model Training

#### Model Evaluating

#### Model optimizing